{% extends 'base.html' %}
<!-- {% block head %}
<title>New Post</title>
{% endblock%} -->

{% block body %}
<h1>Add New Product:</h1>
<hr>
<h2>New Product:</h2>
<div class="form">
    <form action="/new_product" method="POST">
        <label for="name">Product Name:</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Enter Product" aria-label="Enter Product Name">
        <label for="date">Expiry Date:</label>
        <input class="form-control" type="date" name="date" id="date" placeholder="Enter Date" aria-label=" Enter Date">
        <!-- <label for="post">Post:</label>
    <textarea class="form-control" id="post" name="post" placeholder="Enter Content" aria-label=" Enter Content" rows="3"></textarea>
    <br> -->
        <input type="submit" value="Post">
    </form>
</div>
<hr> {% endblock%}