{% extends 'base.html' %} {% block css %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %} {% block body %}
<div style=" height:250px; width:600px; border: 1px solid rgb(21, 22, 21); padding: 0.5em;">
    <br>
    <div style="width:800px; margin:0 auto;">
        <label>Category :</label> {% if category[0] %}
        <select id='course_cate'>
      <option value=''>Select</option>
      {% for c in category %}
      <option value='{{ c }}'>{{ c }}</option>
      {% endfor %}
    </select> {% endif %}
    </div>
    <br>
    <div style="width:800px; margin:0 auto;">
        <label>Brand  :</label>
        <select id='courses'>
    </select>
    </div>
    <br>
    <div style="width:800px; margin:0 auto;">
        <label>Product Name  :</label>
        <select id='product'>
    </select>
    </div>
    <br>
    <div style="width:800px; margin:0 auto;">
        <button type="submit" class="btn btn-warning" id="recommend_btn"> Recommend </button>
    </div>
    <br>
</div>
<div id="df">

</div>

<script>
    $(document).ready(function() {
        $("#course_cate").change(function() {
            let cate = $(this).val();
            if (cate != '') {
                $.ajax({
                    url: "{{url_for('getDataAjax')}}",
                    type: "POST",
                    data: {
                        "data": cate
                    },
                    success: function(res) {
                        $("#courses").html(res);
                    }
                });
            } else {
                $("#courses").html("");
            }
        });


        $("#courses").change(function() {
            let cate = $(this).val();
            console.log("HI")

            if (cate != '') {
                $.ajax({
                    url: "{{url_for('dropdown3')}}",
                    type: "POST",
                    data: {
                        "data": cate
                    },
                    success: function(res) {
                        $("#product").html(res);
                    }
                });
            } else {
                $("#product").html("");
            }
        });

        $("#recommend_btn").click(function() {
            let cate = $("#product").val();
            console.log("HI")
            $("#df").html("");
            if (cate != '') {
                res = ""
                $.ajax({
                    url: "{{url_for('submit_button')}}",
                    type: "POST",
                    data: {
                        "data": cate
                    },
                    success: function(res) {
                        console.log(res)
                        $("#df").html(res);
                    }
                });
            } else {
                $("#df").html("");
            }
        });




    });
</script>
</body>
{% endblock%}