{% extends "base.html" %} {% block css %}
<link href="../static/css/scanner.css" rel="stylesheet" /> {% endblock %} {% block body %}
<div class="container center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="white">Custom File Upload</h1>
            <p class="white">In this example, submit is allowed only in case the user uploads a valid image file.</p>
        </div>
    </div>

    <form name="upload" method="post" action="scanner" enctype="multipart/form-data" accept-charset="utf-8">
        <div class="row">
            <div class="col-md-6-col-md-offset-3-center">
                <div class="btn-container">
                    <!--the three icons: default, ok file (img), error file (not an img)-->
                    <h1 class="imgupload"><i class="fa fa-file-image-o"></i></h1>
                    <h1 class="imgupload ok"><i class="fa fa-check"></i></h1>
                    <h1 class="imgupload stop"><i class="fa fa-times"></i></h1>
                    <!--this field changes dinamically displaying the filename we are trying to upload-->
                    <p id="namefile">Only pics allowed! (jpg,jpeg,bmp,png)</p>
                    <div class="file-upload">
                        <!-- actual upload which is hidden -->
                        <input type="file" id="actual-btn" onchange="return fileValidation()" hidden/>
                        <!-- our custom upload button -->
                        <label for="actual-btn">Choose File</label>
                        <!-- name of file chosen -->
                        <span id="file-chosen">No file chosen</span>
                    </div>
                    <div id="imagePreview"></div>
                    <!--our custom btn which which stays under the actual one-->
                    <!-- <button type="button" id="btnup" class="btn btn-primary btn-lg">Browse for your pic!</button> -->
                    <!--this is the actual file input, is set with opacity=0 beacause we wanna see our custom one-->
                    <!-- <input type="file" value="" name="fileup" id="fileup"> -->
                </div>
                <!-- <div class="file-upload">
                    <input class="file-upload__input" type="file" name="myFile" id="myFile">
                    <button class="file-upload__button" type="button">Choose File(s)</button>
                    <span class="file-upload__label"></span>
                  </div> -->
            </div>
        </div>
        <!--additional fields-->
        <div class="row">
            <div class="col-md-12">
                <!--the defauld disabled btn and the actual one shown only if the three fields are valid-->
                <input type="submit" value="Submit!" class="btn btn-primary" id="submitbtn">
                <button type="button" class="btn btn-default" disabled="disabled" id="fakebtn">Submit! <i class="fa fa-minus-circle"></i></button>
            </div>
        </div>
    </form>
</div>
<script src="../static/js/scanner.js"> </script>
{% endblock %}